/* Reset styles and set default font */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background: #080808;
    color: #ffffff;
    /* padding: 10px 10px; */
    overflow-x: hidden;
}


/* =========================================================================== */

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}


/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 0;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #09f845;
}
/* 
img {
    width: 30%;
    height: 30%;
} */

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    transition: transform 0.5s ease;
    max-height: 500px; /* Set your desired max height */


}
.card:hover {
    transform: scale(1.1);
}

.card p{
    text-decoration: none;
    font-weight: bold;
    text-overflow: calc(40%-100%);
}

/* Styling for the text inside the card */
.card p {
  color: black;
  font-weight: bold;
  margin-top: 8px; /* Optional: Add some margin above the text */
}


.card img {
    width: 40%;
    height: 30%;
    border-bottom: 1px solid #ddd;
  }







